aside {
  float: right;
}

#main:before {
    content:"\a";
    white-space: pre;
}

aside:before {
    content:"\a\a";
    white-space: pre;
}

#main {
  clear: left;
}

#headshot {
  width: 75%;
  height: auto;
}