section {

    margin: 5px;
    float:left;
    width: 72%;
    padding: 10px;
    border: 1px solid black;
}

#title * {
  margin: 0px;
}

#comments {
    clear:both;
    margin-bottom: 100px;
}

img {
  display: inline-block;
  width: 100%;
}