.portrait {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#main-content p {
    font-size: 1.25em;
}

@media screen and (min-width: 600px) {
    .flex {
        min-height: 100vh;;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
  }