html,
body {
  height: 100%;
  width: 100%;
  margin:0;
  font-family: 'Raleway', sans-serif;
}

header {
  display: inline;
  float:left;
  width: 100%;
}

h1, h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.center {
  display: inline-block;
}

.box {
  display: inline-block;
  width: 5%;
  min-width: 100px;
  text-align: center;
  color: white;
  font-size: 0.5em;
}

#top {
  background-color: #80397B;
}

#bottom {
  background-color: #227446;
}

#left {
  background-color: #DA3B01;
}

#right {
  background-color: #0072C6;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

.center a {
  color: black;
}

a:hover {
  font-weight: bolder;
}


section {
  margin-left: 10px;
  margin-right: 10px;
}

article {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  min-height: 250px;
  margin: 25px 4.5%;
  background-color: #8C8C8C;
  margin-bottom: 10px;
}

article * {
  margin: 5px;
}